
/* Don't wrap text. E.g. used in chart title.*/
.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.linechart {
    
}

.chart-title {
    font-size:large;
}

.chart-live-data {

}

.chart-legend {

}

.chart-legend-item {
    margin: 0px 5px 5px 10px;
    height: 18px; display: 
    inline-block;
}

.chart-legend-color {
    margin-right: 5px;
}

